@use '../../../_colors.css';

.nav {
  height: 50px;
  width: 100vw;
  background-color: var(--navigation);
  box-shadow: 0px 1px 3px 1px var(--navigation-hover);
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-right: 3rem;
  }

  .logo {
    position: relative;
    top: 25px;
    left: 3rem;
  }
}
