@use '../../../_colors.css';

#join-us {
  background: var(--gradient-gold);
  padding: 0;
  .triangle-top {
    background-color: var(--background);
    width: 100vw;
    height: 130px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

.join-us {
  margin-top: 90px;
  padding: 0 4rem 90px 4rem;

  h2 {
    text-align: left;
    margin-bottom: 5rem;
    color: var(--dark-gray);
  }

  p {
    margin-bottom: 3rem;
    line-height: 140%;
    color: var(--white);
  }
  .text-bottom {
    margin-bottom: 5rem;
  }

  ol {
    list-style-position: inside;
    margin-bottom: 3rem;
    color: var(--white);
    line-height: 140%;
  }
  .right {
    display: none;
  }
}

@media (min-width: 1000px) {
  .join-us {
    h2 {
      margin-bottom: 7rem;
    }
    p {
      margin-bottom: 4rem;
    }
    ol {
      margin-bottom: 4rem;
    }
    .wrapper {
      display: flex;
      flex-direction: row;
    }
    .left {
      width: 56%;
    }
    .right {
      display: block;
      position: absolute;
      right: 0;
      .photo {
        position: relative;
        top: -40px;
        width: 430px;
        height: 650px;
        background-image: url('../../../../public/biz-coach-side-image.png');
        background-size: cover;
      }
    }
  }
}
