@use '../../../_colors.css';

#what-you-get {
  background-color: var(--background-light);
  padding: 0 0rem;
}
.what-you-get-class {
  padding: 90px 4rem 0px 4rem;
  .left {
    h2 {
      text-align: left;
    }
    p {
      color: var(--main-color);
      margin-bottom: 4rem;
      line-height: 140%;
      span {
        font-weight: 700;
      }
    }
  }
}

.triangle-top,
.triangle-bottom {
  background-color: var(--background);
  width: 100vw;
  height: 130px;
}

.triangle-top {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.triangle-bottom {
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

@media (min-width: 1200px) {
  .what-you-get-class {
    display: flex;
    flex-direction: row;
    padding: 60px 4rem 0px 4rem;
  }
  .left {
    width: 55%;
  }
  .right {
    position: absolute;
    right: 0;
    .photo {
      position: relative;
      top: -35px;
      height: 615px;
      width: 450px;
      background-image: url('../../../../public/mba-section-image.png');
      background-size: cover;
    }
  }
}
