.wrapper {
  padding: 40px 30px;
  box-shadow: 0px 0px 10px -3px var(--navigation);
  background-color: var(--background);
  border-radius: 5px;
  form {
    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
    }
    label {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    input,
    textarea {
      border: none;
      border-radius: 5px;
      background-color: var(--background-light);
      padding: 1.2rem;
      font-size: 1.6rem;
      color: var(--main-color);
      outline: none;
      &::placeholder{
        color: var(--light-gray);
      }
    }
    textarea {
      resize: vertical;
      min-height: 130px;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    form {
      .contact-data {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}
