@use '../../../_colors.css';

.blank-space {
  height: 72px;
}

.current {
  border-bottom: var(--white) solid 2px;
}

.toggle-mode {
  margin-right: 10px;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 72px;
  background-color: var(--dark-blue);
  z-index: 1000;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  position: relative;
  height: 70px;
  img {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  color: var(--white);
  a {
    text-decoration: none;
    color: var(--white);
  }
  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    padding: 0 10px;
    cursor: pointer;
  }
  &__link:hover {
    background-color: var(--dark-blue-hover);
  }
}

@media (min-width: 992px) {
  .toggle-mode {
    margin-right: 20px;
  }
  .nav-list {
    &__link {
      padding: 0 20px;
      font-size: 1.8rem;
    }
  }
}
