@use '../../_colors.css';

.main {
  padding-bottom: 6rem;
}

.label {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--light-gray);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.checkbox-wrapper {
  margin-bottom: 2rem;
  .checkbox-options {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--navigation-hover);
    border-radius: 5px;
    background-color: var(--navigation);
    padding: 1rem;
    font-size: 1.6rem;
    outline: none;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: pointer;
      input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
      }
      .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        width: 15px;
        background-color: var(--btn-white);
        border-radius: 50%;
        margin-right: 10px;
        svg {
          display: none;
          color: var(--white);
          width: 10px;
          height: 10px;
        }
      }
      .option-name {
        color: var(--light-gray);
      }
    }
    input:checked ~ .checkbox {
      background-color: var(--light-green);
      svg {
        display: block;
      }
    }
    input:checked ~ .option-name {
      color: var(--nav-button);
    }
  }
}

.error {
  font-size: 1.3rem;
  color: var(--warning);
}
