:root {
  --main-color: #2d3354;
  --main-color-semitransparent: #02091acc;
  --hero-left: #141a34f2;
  --dark-blue:#2d3354;
  --dark-blue-hover:#1e2243;
  --white: #fff;
  --black: #000;
  --dark-gray: #131936;
  --gold: #d4b165;
  --light-gold: #e4c87d;
  --gradient-gold: linear-gradient(90deg, #b0864b, #e4c87d);
  --btn-white: #fff;
  --btn-white-hover: #eee;
  --background: #fff;
  --background-light: #faf9fc;
  --navigation: #eee;
  --navigation-hover: #dcdcdc;
  --nav-button: #000;
}

[data-theme='dark'] {
  --main-color: #fff;
  --background: #242424;
  --background-light: #353535;
  --navigation: #111111;
  --navigation-hover: #242424;
  --nav-button: #fff;
}
