:root {
  --main-color: #2d3354;
  --main-color-semitransparent: #02091acc;
  --hero-left: #141a34f2;
  --white: #fff;
  --black: #000;
  --gold: #d4b165;
  --btn-gold: linear-gradient(90deg, #b0864b, #e4c87d);
  --btn-gold-hover: linear-gradient(90deg, #906429, #c2a65b);
  --background: #fff;
  --navigation: #eee;
  --navigation-hover: #dcdcdc;
  --nav-button: #000;
  --text: #000;
}

[data-theme='dark'] {
  --main-color: #fff;
  --background: #242424;
  --navigation: #111111;
  --navigation-hover: #242424;
  --nav-button: #fff;
  --text: #fff;
}
