@use '../../_colors.css';

.main {
  height: calc(100vh - 50px);
}

.change-mode {
  text-decoration: none;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--light-blue);
  text-align: center;
  cursor: pointer;
  &:hover {
    color: var(--light-blue-hover);
  }
}
