@use '../../_colors.css';

@property --gradient-one {
  syntax: '<color>';
  initial-value: #b0864b;
  inherits: false;
}
@property --gradient-two {
  syntax: '<color>';
  initial-value: #e4c87d;
  inherits: false;
}

.link {
  text-decoration: none;
}

.button {
  display: block;
  position: relative;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}



.gold {
  background: linear-gradient(90deg, var(--gradient-one), var(--gradient-two));
  color: var(--white);
  transition: --gradient-one 0.4s, --gradient-two 0.4s;
}
.gold:hover {
  --gradient-one: #906429;
  --gradient-two: #c2a65b;
}

.white {
  background-color: var(--btn-white);
  color: var(--gold);
  transition: background-color 0.4s;
}
.white:hover {
  background-color: var(--btn-white-hover);
}

@media (min-width: 400px) {
  .center {
    margin: auto;
    width: 220px;
  }
  .left{
    width: 220px;
  }
}