@use '../../_colors.css';

@property --gradient-one {
  syntax: '<color>';
  initial-value: #b0864b;
  inherits: false;
}
@property --gradient-two {
  syntax: '<color>';
  initial-value: #e4c87d;
  inherits: false;
}

.link {
  text-decoration: none;
}

.button {
  display: block;
  position: relative;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  z-index: 997;
}

.gold {
  background: linear-gradient(90deg, #b0864b, #e4c87d);
  color: var(--white);
  overflow: hidden;
  transition: opacity 0.4s;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #906429, #c2a65b);
    opacity: 0;
    transition: opacity 0.4s;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  div {
    position: relative;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: var(--white);
    text-transform: uppercase;
    z-index: 998;
  }
}

.white {
  background-color: var(--btn-white);
  color: var(--gold);
  transition: background-color 0.4s;
  &:hover {
    background-color: var(--btn-white-hover);
  }
}

.error {
  background-color: var(--btn-white);
  color: var(--main);
  transition: background-color 0.4s;
  &:hover {
    background-color: var(--btn-white-hover);
  }
}

@media (min-width: 400px) {
  .center {
    margin: auto;
    width: 220px;
  }
  .left {
    width: 220px;
  }
}
