@use '../../_colors.css';

.card {
  padding: 20px 10px;
  width: 350px;
  color: var(--main-color);
  text-align: center;
  .title {
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  .text {
    margin-bottom: 15px;
  }
  .button {
    width: 50%;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    background-color: var(--nav-button);
    color: var(--navigation);
    &:hover {
      background-color: var(--nav-button-hover-two);
    }
  }
}


